@import url("https://fonts.googleapis.com/css?family=Nunito");

html {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #555;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  color: #333;
  letter-spacing: 1px;

  border: 0;
  padding: 7px 5px;
  border: 1px solid #ccc;
}
